body {
  margin-top: 60px; /* 160px to make the container go all the way to the bottom of the topbar */
  padding-left: 14px !important;
  padding-right: 14px !important;
}

h4, h5 {
  margin: 0;
}

h4 {
  font-size: 17px;
}

select {
  height: 38px;
}

.navbar-fixed-top {
  position: fixed !important;
  padding-left: 10px !important;
  margin-right: 0 !important;
}

.navbar-fixed-top .btn-primary {
  margin-top: 9px;
}

#chartdiv {
  margin-bottom: 14px;
}

#appTable.table tr td {
  padding: 16px 6px;
}

#appTable .table {
  margin-bottom: 0;
}

#graphContainer {
  border-bottom: 1px solid #ddd;
  display: none;
}

/* remove the top border from the first row */
.table tr:nth-child(1) td {
  border-top: 0;
}

#appTable .iconcolumn {
  width: 72px;
}

#appTable .buildcount,
#userTable .appcount {
  font-size: 0.85em;
  color: #aaa;
}

#appTable .appversion {
  font-size: 0.7em;
  font-weight: normal;
  margin-left: 5px;
  display: none; /* visibile at higher resolutions*/
}

#appTable .buildfromrepobutton {
  float: left;
  margin-top: 7px;
}

#appTable .sharebutton,
#appTable .signingkeybutton {
  float: right;
  margin-top: -28px;
  padding: 8px;
  border-radius: 4px;
}

#appTable .sharebutton:active,
#appTable .signingkeybutton:active {
  background-color: #ddd;
}

#appTable .signingkeybutton {
  padding-left: 10px;
}

#appTable .sharebutton {
  margin-right: -8px;
}

#appTable .sharebutton a,
#appTable .sharebutton a:visited,
#appTable .signingkeybutton a,
#appTable .signingkeybutton a:visited {
  color:#000;
  text-decoration: none;
}

#appTable .actionbutton {
  float: right;
}

#appTable .actionbutton .btn {
  min-width: 54px;
  padding: 4px 8px;
}

#appTable .actionbutton .btn-spinner {
  padding-left: 5px;
  padding-right: 7px;
}

#appTable .actionbutton.textonly {
  margin-top: 12px;
}

#appTable .builddots {
  float: right;
  line-height: 9px;
  margin-left: 6px;
  margin-top: 2px;
  font-size: 7px;
}

#appTable .builddots .builddots4 {
  margin-top: 5px;
  line-height: 13px;
  font-size: 11px;
}

#userTable.table {
  margin-bottom: 0;
}

#userTable .appcount {
  float: left;
}

#userTable .deletebuttoncolumn {
  float: right;
}

#userTable .deletebutton {
  margin-top: 10px;
}

#keysModal .modal-body {
  min-height: 130px;
}

#keysModal .key_locked_true {
  color: red;
}

#aboutModal .modal-body {
  padding-bottom: 0;
}

#aboutModal .modal-body sup {
  font-size: 0.6em;
}

.modal-body {
  max-height: 500px;
  overflow-y: scroll;
}

span.buildmeister-icon-updated {
  font-size: 1.3em;
  color: #d14;
}

@media (max-height: 600px) {
  #accountsModal .modal-body {
    max-height: 400px;
  }
}

@media (max-height: 500px) {
  #accountsModal .modal-body {
    max-height: 300px;
  }
}

@media (min-width: 400px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  #appTable .iconcolumn {
    width: 100px;
  }
  #appTable .builddots {
    margin-left: 10px;
  }
  #appTable .appversion {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/** START overridden bootstrap caroussel styles **/
.carousel-control {
  top: 38%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 40px;
  line-height: 24px;

}
.carousel-control.left {
  left: 10px;
}
.carousel-control.right {
  right: 10px;
}
.carousel-caption {
  position: static;
  background-color: black;
  margin-bottom: 14px;
  padding-bottom: 30px;
}

.carousel img {
  width: 100%;
}
/** END overridden bootstrap caroussel styles **/