body {
  margin-top: 80px;
}

.navbar {
  height: 62px;
  min-height: 62px;
}

.navbar .btn-link {
  margin-top: 24px;
}

.navbar .navbar-toggle {
  margin-top: 26px;
}

.modal-dialog {
  margin-top: 20px;
}