<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="nl.x-services.phonegapps"
        version="0.2">

  <name>Phonegapps</name><!-- is also the name of the icon on the device -->

  <description>
    Monitor your Phonegap Build apps
  </description>

  <author href="http://www.x-services.nl"
          email="info@x-services.nl">
    X-Services.nl
  </author>

  <!-- icons -->
  <icon src="icon.png"/>
  <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi"/>
  <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi"/>
  <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi"/>
  <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi"/>
  <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
  <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>

  <!-- splashscreens -->
  <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi"/>
  <gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi"/>
  <gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi"/>
  <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi"/>
  <gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="res/screen/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768"/>

  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/file"/>

  <preference name="phonegap-version" value="2.3.0"/><!-- 2.5.0 has splash screen shifting, which is fixed in 2.6.0 (so lets use it asap) -->
  <preference name="target-device" value="handset"/><!-- 2.5.0 is not hiding the splashscreen on ipad AND 2.3.0 is not supporting ipad retina images, which Apple requires -->
  <!--<preference name="orientation" value="portrait"/>-->
  <preference name="webviewbounce" value="false"/><!-- iOS rubber banding -->
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="android-minSdkVersion" value="8" />
  <preference name="android-installLocation" value="auto" /><!-- preferExternal; preferably install on SD-card -->
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="stay-in-webview" value="false" /><!-- external sites -->
  <preference name="prerendered-icon" value="true" /><!-- gloss effect on iOS (false=add) -->
  <preference name="auto-hide-splash-screen" value="true" /><!-- hide with js or not -->
  <preference name="exit-on-suspend" value="false" />

  <!-- allow loading any url in the webview -->
  <access origin="*" />

</widget>
